.itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    background-color: #4ab464;
    margin: 1vw;
    padding: 2vw;
    border-radius: 10px;

    
}


.cart{
    height: 1.5em;
}

.itemPrice{
    font-size: 1.5rem;
    font-weight: 800;
}

.itemImg Img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}