

#root{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.navLeft{
  display: flex;
  flex: 1;
  justify-self : flex-start;

}

.navRight{
  display: flex;
  flex: 1;
  justify-content: flex-end;


}



.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 2% 0 2%;
}
.navbar h2{
  display: flex;
  align-items: center;

}
.cartNav{
  height: 3.5rem;

}

.navRight{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.cartNavDiv{
  display: flex;
  gap: 1rem;
}
.footer{
  display: flex;
  justify-content: center;
}


.header{
  display: flex;
  justify-content: center;
}

.header h2 {
  font-size: 7rem;
  text-align: center;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  
}
.your{
  color: white;
}


.header h2:hover{

  color:#2a2a2a;
}

.articles{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.filterButton{
  display: flex;
  justify-content: center;
  gap: 5rem;
}